body {
    margin: 0;
    padding: 0;
    background: darkolivegreen;
}

.eyes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.eye {
    width: 280px;
    height: 235px;
    background: whitesmoke;
    display: inline-block;
    margin: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.ball {
    width: 70px;
    height: 90px;
    background: maroon;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}